*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    outline: none;
}

/*From another source I added scroll-behaviour and outline*/

:root {
    --bg-color: #001;
    --second-bg-color: #112;
    --text-color: #fff;
    --main-color: #FF6347;
}
/*Using ":root" cause I like when websites change according to the set
theme on persons computer/mobile*/

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

/*Header section*/

header {
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    transition: all 0.3s ease;
}

.logo{
    font-size: 3rem;
    font-weight: 800;
    background: -webkit-linear-gradient(#16ff00, #ffed00);
    cursor: pointer;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}  
/*
.logo:hover{  
    color: white;
    text-shadow: 0 0 25px white,
                 0 0 25px white;
    transform: scale(1.1);
}
*/ /*Think about the hover thing, I like it maybe just change of color*/
.navbar{
    display: flex; /*Only thing they added that is new*/
}

.navbar a {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 4rem;
    transition: all 0.3s ease;
    border-bottom: 3px solid transparent;
}
.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    cursor: pointer; /*If I add display:none I lose the menu icon, but that is what they use in example, need to check out why it does not work on mine*/
}

.nav-btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: transparent;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    font-weight: 600;
    transition: all 0.3s ease;
}

.nav-btn:hover{
    background: var(--main-color);
    color: var(--text-color);
    box-shadow: 0 0 20px var(--main-color);
    transform: scale(1.05);
}
/*
.contact:hover{
    background-color: orangered;
    box-shadow: 0 0 25px orangered;
    color: white;
}
.home{
    width: 100%;
    min-height: 100vh;
    background: rgb(241, 241, 241);
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}
.home-content{
    max-width: 800px;
}
.home-content h3{
    font-size: 42px;
}
.home-content h1{
    font-size: 62px;
    line-height: 1.2;
}
.home-content p{
    font-size: 18px;
    margin: 25px 0 30px;
}
.btn-box{
    width: 345px;
    display: flex;
    gap: 2em;
}
.btn-1{
    padding: 15px 28px;
    background-color: black;
    color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}
.btn-1:hover{
    background-color: white;
    color: black;
    border: 2px solid orangered;
}
.btn-2 {
    padding: 15px 28px;
    background-color: orangered;
    color: white;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}
.btn-2:hover {
    background-color: white;
    color: black;
}
.img-box img{
    border-radius: 50%;
    width: 550px;
}
*/
/*Seeing on Youtube video on how to add webkits, which I will be
using while making this Portfolio*/
/*
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: orangered;
}
::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0.6);
    width: 50px;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12% 8%;
    gap: 10em;
    background: black;
}
.about-p{
    color:white;
}
*/
/*Need to add more space in the navigation bar and to change
the color of the words*/
/*Need to think about the pitcure and maybe change it*/
/*
.about-img img{
    position: relative;
    width: 550px;
    box-shadow: 0 0 25px orangered,
                0 0 50px orangered;
    border-radius: 50%;
}
.about-content h2{
    text-align: left;
    color: white;
    font-size: 42px;
}
.about-content h3{
    color: white;
    font-size: 62px;
}
.about-content h2{
    color: white;
    font-size: 20px;
}

.contact-form h2{
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 36px;
}

.contact-form form{
    max-width: 50em;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3em;
}

.contact-form form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-form form .input-box input,
.contact-form form textarea{
    width: 100%;
    padding: 1.5em;
    font-size: 18px;
    color: black;
    background: rgb(241,241,241);
    border-radius: .8rem;
    margin: 1rem 0;
    resize: none;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: black;
}

.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: white;
}

.footer .social a{
    font-size: 24px;
    color: white;
    border: 2px solid orangered;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    box-shadow: inset 0 0 10px orangered 0 0 10px orangered;
    transition: 0.3 ease;
}

.footer .social a:hover{
    transform: scale(1.2) translateY(-10px);
    color: orangered;
    border: 2px solid orangered;
}

.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3 ease;
}

.footer ul li a:hover{
    border-bottom: 3px solid orangered;
}

.footer ul li{
    display: inline-block;
    padding: 0 15px;
}

.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: white;
}
*/